<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Condicionais e Listas v1</title>
</head>
<body>
    <div id="app">
        <p v-if="logado">Usuário Logado: {{nome}}</p>
        <!--v-else só funciona se logo abaixo do v-if-->
        <p v-else>Nenhum usuário Logado</p> 
        <!--solução alternativa
            <p v-if="!logado">Nenhum usuário Logado</p> 
        -->
        <button @click="logado = !logado">{{logado ? 'Sair' : 'Entrar'}}</button>
    </div>

    <script src="https://cdn.jsdelivr.net/npm/vue@2.7.14/dist/vue.js"></script>
    <script>
        new Vue({
            el:'#app',
            data:{
                nome: 'Maria',
                logado: true
            }
        });
    </script>
</body>
</html>